<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    <%
    const pageConfigs = [{
        title: page.category,
        isCurrent: is_category()
    }, {
        title: page.tag,
        isCurrent: is_tag()
    }, {
        title: page.title,
        isCurrent: is_post() || is_page()
    }, {
        title: "Home",
        isCurrent: is_home()
    }, {
        title: page.archive,
        isCurrent: is_archive()
    }, {
        title: config.title,
        isCurrent: true
    }];

    const currentPage = pageConfigs.find(function(item, index, list) {
        return item.isCurrent === true;
    });

    %>
    <%- [currentPage.title, config.title].join(" | ") -%>
    </title>
</head>

<body>
    <div class="<%- is_post() || is_page() ? 'page--post' : 'page' %>">
        <header class="page__header">
            <a class="page__header__logo" href="<%- url_for(config.url) %>">
                <img src="<%- url_for(config.logo_url) %>">
            </a>
        </header>

        <div class="page__navbar">
            <%- include('../source/components/categories-bar') %>
        </div>
        <%- body -%>
    </div>
    <footer class="page__footer">
        <%- include('../source/components/cloud-tags') %>
        <p>&copy; <%= new Date().getFullYear();%> Todos os direitos reservados</p>
    </footer>

    <script type="text/javascript">
        window.GLOBAL = window.GLOBAL || {};
        window.GLOBAL.properties = <%-
           JSON.stringify([
             'is_home()',
             'is_current()',
             'is_home()',
             'is_post()',
             'is_page()',
             'is_archive()',
             'is_year()',
             'is_month()',
             'is_category()',
             'is_tag()',
             'Object.keys(page)',
             '(page.posts||[]).length',
             'theme',
             'config'
           ].map(function(property) {
                return {
                    property,
                    value: eval(property)
                };
           }))
       %>
    </script>
<style>
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body img {
    max-width: 100%;
}
.page,
.page--post {
    display: block;
    margin: 0;
}

@media(min-width: 768px) {
    .page,
    .page--post {
        display: grid;
        grid-template-areas: ". header header ." "navbar navbar navbar navbar" ". main sidebar ." "footer footer footer footer";
        grid-template-columns: 1fr minmax(538px, 900px) minmax(230px, 300px) 1fr;
        margin: 0;
    }

    .page--post {
        grid-template-areas: ". header header ." "navbar navbar navbar navbar" ". main main ." ". sidebar sidebar ." "footer footer footer footer";
    }
}

.page__main {
    grid-area: main;
}
.page__header {
    grid-area: header;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page__navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
}
.page__header__logo {
    width: 380px;
    margin: 40px 0;
    max-width: calc(100% - 40px);
}
.page__sidebar {
    grid-area: sidebar;
    padding: 16px;
    margin-top: 8px;
}
.page__sidebar__section {
    position: sticky;
    top: 8px;
}
.page__footer {
    grid-area: footer;
    background-color: #030303;
    color: #fff;
    font-family: sans-serif;
    padding: 24px 24px 40px;
    margin-top: 24px;
}
</style>
</body>
</html>
