<div class="post-box">
    <% if(post.featured_image.url !== null) { %>
        <img
            style="cursor: pointer;"
            loading="lazy"
            class="post-box__image" src="<%= post.featured_image.url %>"
            onclick="location.href='<%= url_for(post.path) %>'"
        >
    <% } //endif %>
    <div class="post-box__categories">
        <%- replace_classes({
            "post-box__categories-link": "post-box__categories__link"
        }, list_categories(post.categories, {
          show_count: false,
          style: false,
          class: "post-box__categories",
          separator: `<span class="post-box__separator">,</span>`
        })) %>
    </div>
    <h2 class="post-box__title">
        <a href="<%= url_for(post.path) %>" class="post-box__title__link">
            <%= post.title %>
        </a>
    </h2>
    <div class="post-box__description">
        <%= post.excerpt || post.description %>
    </div>
    <span
        onclick="location.href='<%= url_for(post.path) %>'"
        class="post-box__call-to-action">
        Continue
    </span>
</div>
<% if(index === 0) { %>
<style>
    .post-box {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
                "post-box-categories"
                "post-box-image"
                "post-box-title"
                "post-box-description"
                "post-box-call-to-action";
        padding: 16px;
        text-decoration: none;
        color: #333;
        font-family: sans-serif;
        margin: 8px;
        grid-template-rows: auto auto 1fr auto;
    }

    @media(min-width: 768px) {
        .post-box {
            grid-template-areas:
                    "post-box-image post-box-categories post-box-categories"
                    "post-box-image post-box-title post-box-title"
                    "post-box-image post-box-description post-box-description"
                    "post-box-image post-box-call-to-action post-box-call-to-action";
            grid-template-columns: 1fr 1fr;
        }
    }

    .post-box__image {
        width: 100%;
        grid-area: post-box-image;
        max-height: 300px;
        object-fit: cover;
        align-self: center;
        background-color: #fafafa;
        min-height: 100%;
        border: none;
    }

    .post-box__title {
        grid-area: post-box-title;
        margin: 16px 8px;
        font-size: 1.65em;
        color: #333;
    }

    .post-box__separator {
        color: #303030;
        margin-right: 4px;
    }

    .post-box__title__link {
        text-decoration: none;
        color: inherit;
    }

    .post-box__title:after {
        content: "";
        width: 100px;
        height: 2px;
        background: #f06;
        display: block;
        margin-top: 16px;
    }

    .post-box__description {
        grid-area: post-box-description;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        max-height: calc(8em * 1.05);
        overflow: hidden;
        margin-left: 8px;
        font-size: 1.05em;
        line-height: 1.4;
    }

    .post-box__categories {
        grid-area: post-box-categories;
    }

    .post-box__call-to-action {
        grid-area: post-box-call-to-action;
        margin-left: 8px;
        text-transform: uppercase;
        color: #f06;
        font-weight: 100;
        font-size: .8em;
        cursor: pointer;
    }

    .post-box__call-to-action:after {
        content: "";
        margin-top: 2px;
    }

    .post-box__categories__link {
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 8px;
        margin-top: 8px;
        font-size: .9em;
        color: #f06;
        font-weight: 100;
    }
</style>

<% } %>

